//Layout

$lightgrey: #f8f8f8;
$white: #fff;

//Headers & paragraphs

$darkgrey: #929292;
$black: #000;

//Buttons & icons

$hotred: #FF3823;
$charcoal: #606060;

//Slider (active)

$bluedots: #00C8F8;










