///// ** 16px = 1em ** /////

//330px = 20.625em

//991px





//883px
@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
		overflow: auto;
	}

}




//761px = 47.5626em to 991px 
@media screen and (min-width:47.5626em) and (max-width: 61.9375em) {
	
	.hero .shea-hero {
		margin-top: 5em;
		margin-bottom: 4em;
	}

	.center {
		text-align: center;
	}

	.aboutAuthor .shea-hero {
		margin:10% 0;
	}

	.aboutAuthor .col-md-8 {
	padding: 5% 5%;
	}

	.macbook {
		min-height: 70em;
	}
	
}



//760px = 47.5em
@media screen and (max-width: 47.5em) {

	.hero .shea-hero {
		margin-top: 5em;
		margin-bottom: 4em;
	}

	.center {
		text-align: center;
	}

	.brand {
		padding:18px 0;

		h2 {
		font-size: 2.6rem;	
		}
	}


	.lines-button {
	padding:0.6rem 0;
	}

	.aboutAuthor .shea-hero {
		margin:10% 0;
	}

	.macbook {
		min-height: 63em;
	}

	// .testimonials {
	// 	margin-bottom: 6.25em;
	// }

}




//422px
@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
		overflow: auto;
	}


	.cbp-spmenu-right {
		right: -190px;
	}


}