p, .aboutBook, .ebook {
  color: #929292;
  line-height: 1.8;
  font-size: 1.5rem; }

.ion-ios-close-outline {
  display: inline-block;
  margin-top: -3px;
  margin-right: -5px;
  font-size: 3rem;
  float: right;
  color: #fff;
  cursor: pointer; }

.cbp-spmenu .ion-ios-person-outline, .cbp-spmenu .ion-ios-book-outline, .cbp-spmenu .ion-ios-cloud-download-outline, .cbp-spmenu .ion-ios-chatbubble-outline, .cbp-spmenu .ion-ios-upload-outline, .cbp-spmenu .ion-ios-glasses-outline {
  font-size: 2rem;
  position: absolute;
  right: 0;
  margin: 0 20px 0 0; }

.ion-header {
  text-align: center;
  margin: 20px 0;
  padding-top: 20px; }
  .ion-header .ion-ios-book-outline, .ion-header .ion-ios-person-outline, .ion-header .ion-ios-cloud-download-outline, .ion-header .ion-ios-chatbubble-outline, .ion-header .ion-ios-glasses-outline {
    font-size: 4rem;
    color: #444444;
    text-align: center; }

.macbook .ion-ios-location-outline, .macbook .ion-ios-heart-outline, .macbook .ion-paperclip {
  color: #fff;
  font-size: 4rem; }

.red-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  border: 1px solid #B70F0A;
  font-size: 2rem;
  color: #B70F0A;
  padding: 1% 6%;
  border-radius: 6px; }
  .red-btn:hover {
    background: #B70F0A;
    color: #fff;
    -webkit-transition: background, 0.65s, ease-in-out;
    -moz-transition: background, 0.65s, ease-in-out;
    -ms-transition: background, 0.65s, ease-in-out;
    transition: background, 0.65s, ease-in-out; }

.ion-social-facebook-outline, .ion-social-twitter-outline, .ion-ios-email-outline, .ion-ios-telephone-outline {
  font-size: 3rem;
  color: #fff;
  margin-right: 10px; }

.copyright {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 60px 10px;
  margin-bottom: 0; }
  .copyright a {
    text-decoration: none;
    border-bottom: 1px dotted #aaa !important;
    color: #B70F0A; }
  .copyright .ion-ios-heart {
    color: #B70F0A;
    font-size: 1.3rem; }

.navbar-fixed-top {
  background-color: transparent;
  -webkit-transition: all, 0.25s, ease;
  -moz-transition: all, 0.25s, ease;
  -ms-transition: all, 0.25s, ease;
  transition: all, 0.25s, ease; }

.past-hero {
  border-bottom: 1px solid #f3f3f3;
  background: white; }

.brand {
  padding: 15px 0; }

.brand h2 {
  font-family: "alex_brushregular";
  font-size: 3rem;
  display: inline-block;
  margin: 10px 0 0 0; }

.hero {
  padding-top: 7%; }
  .hero h1 {
    margin-top: 42%;
    margin-bottom: 4%;
    font-size: 2.2rem;
    line-height: 1.45;
    font-style: italic; }
  .hero a:focus, .hero a:hover {
    text-decoration: none !important; }
  .hero .red-btn {
    margin: 0 10px 0 0; }
  .hero .shea-hero {
    height: auto;
    max-width: 100%; }
  .hero .hero-quote {
    font-family: "alex_brushregular";
    font-size: 2rem;
    display: block;
    color: #444444;
    margin: 4%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.36); }

.aboutBook {
  background: #f8f8f8; }
  .aboutBook .col-md-12 {
    padding: 0 5% 5%; }
  .aboutBook h2 {
    color: black;
    margin: 15px 0 20px 0; }

.aboutAuthor h2 {
  color: black;
  margin: 15px 0 20px 0; }
.aboutAuthor .col-md-8 {
  padding: 0 5% 5%; }
.aboutAuthor p, .aboutAuthor .aboutBook, .aboutAuthor .ebook {
  color: #929292;
  line-height: 1.8;
  font-size: 1.5rem; }
.aboutAuthor .suit-img {
  text-align: center; }
.aboutAuthor .shea-hero {
  height: auto;
  max-width: 100%; }

.macbook {
  position: relative;
  background-image: url("../images/mac-notes.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -ms-background-size: fixed;
  background-size: fixed;
  min-height: 40em; }
  .macbook .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 93, 85, 0.64); }
  .macbook .col-md-4 {
    text-align: center;
    margin: 14% 0; }
  .macbook p, .macbook .aboutBook, .macbook .ebook, .macbook h3, .macbook ul {
    color: white; }
  .macbook h3 {
    margin: 20px 0 30px 0; }

.ebook {
  background: #f8f8f8; }
  .ebook .pad {
    padding: 0 10% 0 5%; }
  .ebook h2 {
    color: black;
    margin: 15px 0 20px 0; }
  .ebook a {
    text-decoration: none;
    margin: 8% 4% 20% 0; }
  .ebook .shea-hero {
    height: auto;
    max-width: 100%; }

.testimonials {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 20px; }

.hardcopy {
  background: white; }
  .hardcopy .col-md-6 {
    padding: 0 5% 5%; }
  .hardcopy h2 {
    color: black;
    margin: 15px 0 20px 0; }
  .hardcopy a {
    text-decoration: none;
    margin: 40px 20px 0 0; }
  .hardcopy .shea-hero {
    height: auto;
    max-width: 100%; }

.social-media {
  background: #444444; }
  .social-media .social-outlets {
    padding: 4%;
    text-align: center; }
    .social-media .social-outlets.facebook:hover {
      background: #3b5998;
      color: white; }
    .social-media .social-outlets.twitter:hover {
      background: #4099ff;
      color: white; }
    .social-media .social-outlets.mail:hover {
      background: #b70f0a;
      color: white; }
    .social-media .social-outlets.phone:hover {
      background: #169016;
      color: white; }
  .social-media a {
    text-decoration: none; }

.menu-icon {
  float: right; }
  .menu-icon .bar {
    height: 1px;
    color: #000;
    width: 15px; }

.lines-button {
  display: inline-block;
  padding: 0.8rem 0;
  -webkit-border-radius: 0.35714rem;
  -moz-border-radius: 0.35714rem;
  -ms-border-radius: 0.35714rem;
  border-radius: 0.35714rem;
  float: right;
  cursor: pointer;
  user-select: none;
  z-index: 9999; }

.lines {
  display: inline-block;
  width: 2.5rem;
  height: 0.2rem;
  background: black;
  -webkit-border-radius: 0.16667rem;
  -moz-border-radius: 0.16667rem;
  -ms-border-radius: 0.16667rem;
  border-radius: 0.16667rem;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/ }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2.5rem;
    height: 0.2rem;
    background: black;
    -webkit-border-radius: 0.16667rem;
    -moz-border-radius: 0.16667rem;
    -ms-border-radius: 0.16667rem;
    border-radius: 0.16667rem;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.16667rem center;
    -webkit-transform-origin: 0.16667rem center; }
  .lines:before {
    top: 0.625rem; }
  .lines:after {
    top: -0.625rem; }

.lines-button:hover {
  opacity: 1; }
  .lines-button:hover .lines:before {
    top: 0.71429rem; }
  .lines-button:hover .lines:after {
    top: -0.71429rem; }

.cbp-spmenu {
  background: #444444;
  position: fixed;
  z-index: 9999; }
  .cbp-spmenu a {
    display: block;
    color: white;
    font-size: 1.1em;
    font-weight: 300;
    height: 60px;
    line-height: 60px; }
  .cbp-spmenu a:hover {
    background: rgba(106, 106, 106, 0.3);
    text-decoration: none; }
  .cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da; }

.menu-header {
  background: #444444;
  padding: 20px;
  margin-bottom: 15px; }
  .menu-header h3 {
    display: inline-block;
    color: #afdefa;
    font-size: 2rem;
    margin: 0; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999; }
  .cbp-spmenu-vertical a {
    border-bottom: 1px solid rgba(106, 106, 106, 0.3);
    padding: 0 0 0 20px; }

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 9999;
  overflow: hidden; }
  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left; }
  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd; }

/* Vertical menu slides from the right */
.cbp-spmenu-right {
  right: -240px; }

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px; }

/* Push classes applied to the body */
/* Transitions */
/* Example media queries */
@media screen and (max-width: 55.1875em) {
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
    overflow: auto; } }
@media screen and (min-width: 47.5626em) and (max-width: 61.9375em) {
  .hero .shea-hero {
    margin-top: 5em;
    margin-bottom: 4em; }

  .center {
    text-align: center; }

  .aboutAuthor .shea-hero {
    margin: 10% 0; }

  .aboutAuthor .col-md-8 {
    padding: 5% 5%; }

  .macbook {
    min-height: 70em; } }
@media screen and (max-width: 47.5em) {
  .hero .shea-hero {
    margin-top: 5em;
    margin-bottom: 4em; }

  .center {
    text-align: center; }

  .brand {
    padding: 18px 0; }
    .brand h2 {
      font-size: 2.6rem; }

  .lines-button {
    padding: 0.6rem 0; }

  .aboutAuthor .shea-hero {
    margin: 10% 0; }

  .macbook {
    min-height: 63em; }

  .testimonials {
    margin-bottom: 5em; }

  .hardcopy a {
    margin: 10% 0;
    text-align: center; }
  .hardcopy .red-btn {
    font-size: 1.6rem;
    padding: 3% 4%;
    margin-right: 4%; }

  .shea-hero {
    margin-bottom: 4%; } }
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
    overflow: auto; }

  .cbp-spmenu-right {
    right: -190px; } }
