@import "colors";
@import "mixins";
@import "variables";
@import "helpers";
@import "icons";


// Fixed Header


.navbar-fixed-top {
	background-color:transparent;
    @include transition(all, 0.25s, ease);
}

.past-hero {
	border-bottom: 1px solid #f3f3f3;
	background:rgba(255,255,255,1);

}


.brand {
	padding:15px 0;
}

.brand h2 {
	font-family: "alex_brushregular";
	font-size: $h2font;
	display:inline-block;
	margin:10px 0 0 0;
}


// Landing

.hero {
	padding-top:7%;

	h1 {
	margin-top:42%;
	margin-bottom:4%;
	font-size: 2.2rem;
  line-height: 1.45;
  font-style: italic;
	}

	a:focus, a:hover {
	text-decoration: none !important;
	}

	.red-btn {
		margin:0 10px 0 0;

	}

	.shea-hero {
	height:auto;
	max-width:100%;

	}

	.hero-quote {
		font-size:1rem;
		text-transform: uppercase;
		display: block;
		color:#444444;
		margin:4% 0% 8%;
		position: relative;
  	padding-left: 5%;

			&::before {
			  content: "";
			  position: absolute;
			  top: 50%;
			  left: 0;
			  width: 20px;
			  height: 1px;
			  border-top: 1px solid;
			  border-color: inherit;
			  opacity: 0.4;

			  }
	}

}


.overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.36);
}

.aboutBook {
	background:$lightgrey;

	.col-md-12 {
		padding: 0 5% 5%;
	}


	h2 {
		color: $black;
		margin:15px 0 20px 0;
		
	}

	@extend p;


}

// About the Author

.aboutAuthor {

		h2 {
		color: $black;
		margin:15px 0 20px 0;	
	
	}

		.col-md-8 {
		padding: 0 5% 5%;
	}

	p {
		color: $darkgrey;
		line-height: 1.8;
		font-size: 1.5rem;
	
	}

	.suit-img {
		text-align: center;
	}

	.shea-hero {
	height:auto;
	max-width:100%;

	}

}


.macbook {
	position: relative;
	background-image:url('../images/mac-notes.jpg');
	@include background-size(cover);
	@include background-attachment(fixed);
	min-height:40em;

	
	.overlay {
	position:absolute;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	background:rgba(255,93,85,0.64);
	
	}

	.col-md-4 {
		text-align: center;
		margin:12% 0;
	}

	p {
		color: $white;
		text-align:justify;
	}


	h3 {
		margin: 20px 0 30px 0;
		text-align:center;
		color: $white;
		font-size:2em;
		font-weight: 100;
		letter-spacing: 1px;
		
	}

	.separator {
		width:10%;
		border:1px solid #fff;
	}


}

// E-book


.ebook {
	background:$white;

	@extend p;

	.pad {
		padding: 0 10% 0 5%;
	}

	h2 {
		color: $black;
		margin:15px 0 20px 0;
		
	
	}

	a {
		text-decoration: none;
		margin: 8% 4% 20% 0;

	}

	.shea-hero {
		height:auto;
		max-width:100%;

	}

}


// Testimonials


.testimonials {
	position:relative;
	margin-bottom: 60px;
	padding-bottom: 20px;
}

.hardcopy {
	background:$lightgrey;

	.col-md-6 {
		padding: 0 5% 5%;
	}


		h2 {
		color: $black;
		margin:15px 0 20px 0;
		
	}

		a {
		text-decoration: none;
		margin: 40px 20px 0 0;
	}

		.shea-hero {
			height:auto;
			max-width:100%;

	}
}

.all-reviews {
	background:$lightgrey;

		.review {
			padding:20px;
			margin:20px 0;

		}


		.review-ratings {
			color: #f3ae73;
			font-size: 1.6em;
			margin-right:10px;
			line-height: 36px;
  		height: 36px;
		}

		.review-cite {
			position: relative;
		  font-size: 1em;
		  padding-left: 30px;
		  opacity: 0.9;
		  white-space: nowrap;
		  color:#444;

		  &::before {
			  content: "";
			  position: absolute;
			  top: 50%;
			  left: 0;
			  width: 20px;
			  height: 1px;
			  border-top: 1px solid;
			  border-color: inherit;
			  opacity: 0.4;

		  }

		}


}


blockquote {
	border-left:none;
	padding:0;
	position: relative;
 display: inline-block;
 @include transition(opacity, 0.4s, ease-in-out);


 	.review-link {		
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  display: none;
		  color: #FFF;
		}

			&:hover {
				opacity: 0.4;
				cursor: crosshair;
			}
}



// Social Media


.social-media {
	background:#444444;


	.social-outlets {
		padding:4%;
		text-align: center;

		
		&.facebook {
		-webkit-tap-highlight-color: rgba(59,89,152,1);

		}

		&.facebook:hover {
			background:#3b5998;
			color: $white;
		}

		&.twitter:hover {
			background:#4099ff;
			color: $white;
		}

		&.mail:hover {
			background:#b70f0a;
			color:$white;
		}

		&.phone:hover {
			background:#169016;
			color:$white;
		}

	}

	a {
		text-decoration:none;
	}
	
}


// Menu Icon

$color: #000;
$button-size : 2.5rem; 
$transition: 1s; // increase this to see the transformations in slow-motion
 
.lines-button {
  display: inline-block;
  padding: $button-size/3.125 0;
  @include border-radius($button-size/7);
  float: right;
  cursor: pointer;
  user-select: none;
  z-index: 9999;
  
 
}


.lines {
   
  //create middle line
  display: inline-block;
  width: $button-size;
  height: 0.2rem;
  background: $color;
  @include border-radius($button-size/15);
  position: relative;
 
  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
   
  display: inline-block;
  width: $button-size;
  height: 0.2rem;
  background: $color;
  @include border-radius($button-size/15); 
    position: absolute;
      left:0;
    content: '';
    transform-origin: $button-size/15 center;
    -webkit-transform-origin: $button-size/15 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button:hover {
  opacity: 1;

     
  .lines {
    &:before { top: $button-size/3.5; }
    &:after { top: -$button-size/3.5; }
  }
}




// Slide Off-Canvas Menu

.cbp-spmenu {
	background: #444;
	position: fixed;
	z-index:9999;

	& a {
	display: block;
	color: $white;
	font-size: 1.1em;
	font-weight: 300;
	height: 60px;
	line-height: 60px;
	}

	& a:hover {
		background: rgba(106,106,106,0.3);
		text-decoration:none;
	}

	& a:active {
		background: #afdefa; //menu blue
		color: #47a3da;
	}


}


.menu-header {
	background:#444;
	padding: 20px;
	margin-bottom: 15px;


	h3 {
	display:inline-block;
	color: $white;
	font-size: 2rem;
	margin:0;
	}


}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 9999;

	 a {
		border-bottom: 1px solid rgba(106,106,106,0.3);
		padding: 0 0 0 20px;	
	}
}



.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 9999;
	overflow: hidden;

	h3 {
		height: 100%;
		width: 20%;
		float: left;	
	}

	a {
		float: left;
		width: 20%;
		padding: 0.8em;
		border-left: 1px solid #258ecd;
	}
}



/* Vertical menu slides from the right */


.cbp-spmenu-right {
	right: -240px;
}


.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}



@import "media-queries";

