@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_helpers\.scss}line{font-family:\000033}}
p, .aboutBook, .ebook {
  color: #929292;
  line-height: 1.8;
  font-size: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\000036}}
.ion-ios-close-outline {
  display: inline-block;
  margin-top: -3px;
  margin-right: -5px;
  font-size: 3rem;
  float: right;
  color: #fff;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000318}}
.cbp-spmenu .ion-ios-person-outline, .cbp-spmenu .ion-ios-book-outline, .cbp-spmenu .ion-ios-cloud-download-outline, .cbp-spmenu .ion-ios-chatbubble-outline, .cbp-spmenu .ion-ios-upload-outline, .cbp-spmenu .ion-ios-glasses-outline, .cbp-spmenu .ion-ios-star-outline {
  font-size: 2rem;
  position: absolute;
  right: 0;
  margin: 0 20px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000325}}
.ion-header {
  text-align: center;
  margin: 20px 0;
  padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000330}}
  .ion-header .ion-ios-book-outline, .ion-header .ion-ios-person-outline, .ion-header .ion-ios-cloud-download-outline, .ion-header .ion-ios-chatbubble-outline, .ion-header .ion-ios-glasses-outline, .ion-header .ion-ios-star-outline {
    font-size: 4rem;
    color: #444444;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000341}}
.macbook .ion-ios-location-outline, .macbook .ion-ios-heart-outline, .macbook .ion-paperclip {
  color: #fff;
  font-size: 4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000351}}
.red-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  border: 1px solid #B70F0A;
  font-size: 2rem;
  color: #B70F0A;
  padding: 1% 6%;
  border-radius: 6px;
  -webkit-tap-highlight-color: rgba(34, 34, 34, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000363}}
  .red-btn:hover {
    background: #B70F0A;
    color: #fff;
    -webkit-transition: background, 0.65s, ease-in-out;
    -moz-transition: background, 0.65s, ease-in-out;
    -ms-transition: background, 0.65s, ease-in-out;
    transition: background, 0.65s, ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000373}}
.ion-social-facebook-outline, .ion-social-twitter-outline, .ion-ios-email-outline, .ion-ios-telephone-outline {
  font-size: 3rem;
  color: #fff;
  margin-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000379}}
.copyright {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 60px 10px;
  margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000386}}
  .copyright a {
    text-decoration: none;
    border-bottom: 1px dotted #aaa !important;
    color: #B70F0A; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000393}}
  .copyright .ion-ios-heart {
    color: #B70F0A;
    font-size: 1.3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\0000399}}
.ion-star {
  -webkit-transition: all, 0.7s, ease;
  -moz-transition: all, 0.7s, ease;
  -ms-transition: all, 0.7s, ease;
  transition: all, 0.7s, ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_icons\.scss}line{font-family:\00003102}}
  .ion-star:hover {
    -webkit-transform: scale(2);
    transform: scale(2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000311}}
.navbar-fixed-top {
  background-color: transparent;
  -webkit-transition: all, 0.25s, ease;
  -moz-transition: all, 0.25s, ease;
  -ms-transition: all, 0.25s, ease;
  transition: all, 0.25s, ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000316}}
.past-hero {
  border-bottom: 1px solid #f3f3f3;
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000323}}
.brand {
  padding: 15px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000327}}
.brand h2 {
  font-family: "alex_brushregular";
  font-size: 3rem;
  display: inline-block;
  margin: 10px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000337}}
.hero {
  padding-top: 7%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000340}}
  .hero h1 {
    margin-top: 42%;
    margin-bottom: 4%;
    font-size: 2.2rem;
    line-height: 1.45;
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000348}}
  .hero a:focus, .hero a:hover {
    text-decoration: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000352}}
  .hero .red-btn {
    margin: 0 10px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000357}}
  .hero .shea-hero {
    height: auto;
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000363}}
  .hero .hero-quote {
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    color: #444444;
    margin: 4% 0% 8%;
    position: relative;
    padding-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000372}}
    .hero .hero-quote::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 1px;
      border-top: 1px solid;
      border-color: inherit;
      opacity: 0.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000389}}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.36); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\0000398}}
.aboutBook {
  background: #f8f8f8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003101}}
  .aboutBook .col-md-12 {
    padding: 0 5% 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003106}}
  .aboutBook h2 {
    color: black;
    margin: 15px 0 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003121}}
.aboutAuthor h2 {
  color: black;
  margin: 15px 0 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003127}}
.aboutAuthor .col-md-8 {
  padding: 0 5% 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003131}}
.aboutAuthor p, .aboutAuthor .aboutBook, .aboutAuthor .ebook {
  color: #929292;
  line-height: 1.8;
  font-size: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003138}}
.aboutAuthor .suit-img {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003142}}
.aboutAuthor .shea-hero {
  height: auto;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003151}}
.macbook {
  position: relative;
  background-image: url("../images/mac-notes.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -ms-background-size: fixed;
  background-size: fixed;
  min-height: 40em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003159}}
  .macbook .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 93, 85, 0.64); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003169}}
  .macbook .col-md-4 {
    text-align: center;
    margin: 12% 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003174}}
  .macbook p, .macbook .aboutBook, .macbook .ebook {
    color: white;
    text-align: justify; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003180}}
  .macbook h3 {
    margin: 20px 0 30px 0;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003190}}
  .macbook .separator {
    width: 10%;
    border: 1px solid #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003201}}
.ebook {
  background: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003206}}
  .ebook .pad {
    padding: 0 10% 0 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003210}}
  .ebook h2 {
    color: black;
    margin: 15px 0 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003217}}
  .ebook a {
    text-decoration: none;
    margin: 8% 4% 20% 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003223}}
  .ebook .shea-hero {
    height: auto;
    max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003235}}
.testimonials {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003241}}
.hardcopy {
  background: #f8f8f8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003244}}
  .hardcopy .col-md-6 {
    padding: 0 5% 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003249}}
  .hardcopy h2 {
    color: black;
    margin: 15px 0 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003255}}
  .hardcopy a {
    text-decoration: none;
    margin: 40px 20px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003260}}
  .hardcopy .shea-hero {
    height: auto;
    max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003267}}
.all-reviews {
  background: #f8f8f8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003270}}
  .all-reviews .review {
    padding: 20px;
    margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003277}}
  .all-reviews .review-ratings {
    color: #f3ae73;
    font-size: 1.6em;
    margin-right: 10px;
    line-height: 36px;
    height: 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003285}}
  .all-reviews .review-cite {
    position: relative;
    font-size: 1em;
    padding-left: 30px;
    opacity: 0.9;
    white-space: nowrap;
    color: #444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003293}}
    .all-reviews .review-cite::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 1px;
      border-top: 1px solid;
      border-color: inherit;
      opacity: 0.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003312}}
blockquote {
  border-left: none;
  padding: 0;
  position: relative;
  display: inline-block;
  -webkit-transition: opacity, 0.4s, ease-in-out;
  -moz-transition: opacity, 0.4s, ease-in-out;
  -ms-transition: opacity, 0.4s, ease-in-out;
  transition: opacity, 0.4s, ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003320}}
  blockquote .review-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003330}}
  blockquote:hover {
    opacity: 0.4;
    cursor: crosshair; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003341}}
.social-media {
  background: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003346}}
  .social-media .social-outlets {
    padding: 4%;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003350}}
    .social-media .social-outlets.facebook:hover {
      background: #3b5998;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003355}}
    .social-media .social-outlets.twitter:hover {
      background: #4099ff;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003360}}
    .social-media .social-outlets.mail:hover {
      background: #b70f0a;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003365}}
    .social-media .social-outlets.phone:hover {
      background: #169016;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003372}}
  .social-media a {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003385}}
.lines-button {
  display: inline-block;
  padding: 0.8rem 0;
  -webkit-border-radius: 0.35714rem;
  -moz-border-radius: 0.35714rem;
  -ms-border-radius: 0.35714rem;
  border-radius: 0.35714rem;
  float: right;
  cursor: pointer;
  user-select: none;
  z-index: 9999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003398}}
.lines {
  display: inline-block;
  width: 2.5rem;
  height: 0.2rem;
  background: black;
  -webkit-border-radius: 0.16667rem;
  -moz-border-radius: 0.16667rem;
  -ms-border-radius: 0.16667rem;
  border-radius: 0.16667rem;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003409}}
  .lines:before, .lines:after {
    display: inline-block;
    width: 2.5rem;
    height: 0.2rem;
    background: black;
    -webkit-border-radius: 0.16667rem;
    -moz-border-radius: 0.16667rem;
    -ms-border-radius: 0.16667rem;
    border-radius: 0.16667rem;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.16667rem center;
    -webkit-transform-origin: 0.16667rem center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003422}}
  .lines:before {
    top: 0.625rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003423}}
  .lines:after {
    top: -0.625rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003426}}
.lines-button:hover {
  opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003431}}
  .lines-button:hover .lines:before {
    top: 0.71429rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003432}}
  .lines-button:hover .lines:after {
    top: -0.71429rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003441}}
.cbp-spmenu {
  background: #444;
  position: fixed;
  z-index: 9999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003446}}
  .cbp-spmenu a {
    display: block;
    color: white;
    font-size: 1.1em;
    font-weight: 300;
    height: 60px;
    line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003455}}
  .cbp-spmenu a:hover {
    background: rgba(106, 106, 106, 0.3);
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003460}}
  .cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003469}}
.menu-header {
  background: #444;
  padding: 20px;
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003475}}
  .menu-header h3 {
    display: inline-block;
    color: white;
    font-size: 2rem;
    margin: 0; }

/* Orientation-dependent styles for the content of the menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003488}}
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003494}}
  .cbp-spmenu-vertical a {
    border-bottom: 1px solid rgba(106, 106, 106, 0.3);
    padding: 0 0 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003502}}
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 9999;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003509}}
  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003515}}
  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd; }

/* Vertical menu slides from the right */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003528}}
.cbp-spmenu-right {
  right: -240px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/custom\.scss}line{font-family:\00003533}}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px; }

@media screen and (max-width: 55.1875em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000312}}
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
    overflow: auto; } }
@media screen and (min-width: 47.5626em) and (max-width: 61.9375em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000327}}
  .hero .shea-hero {
    margin-top: 5em;
    margin-bottom: 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000332}}
  .center {
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000336}}
  .aboutAuthor .shea-hero {
    margin: 10% 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000340}}
  .aboutAuthor .col-md-8 {
    padding: 5% 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000344}}
  .macbook {
    min-height: 70em; } }
@media screen and (min-width: 22.5em) and (max-width: 61.9375em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000355}}
  .macbook p, .macbook .aboutBook, .macbook .ebook {
    text-align: center; } }
@media screen and (max-width: 47.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000365}}
  .hero .shea-hero {
    margin-top: 5em;
    margin-bottom: 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000370}}
  .center {
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000374}}
  .brand {
    padding: 18px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000377}}
    .brand h2 {
      font-size: 2.6rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000383}}
  .lines-button {
    padding: 0.6rem 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000387}}
  .aboutAuthor .shea-hero {
    margin: 10% 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000391}}
  .macbook {
    min-height: 69em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\0000396}}
  .testimonials {
    margin-bottom: 5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\00003102}}
  .hardcopy a {
    margin: 10% 0;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\00003108}}
  .hardcopy .red-btn {
    font-size: 1.6rem;
    padding: 3% 4%;
    margin-right: 4%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\00003116}}
  .shea-hero {
    margin-bottom: 4%; } }
@media screen and (max-height: 26.375em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\00003128}}
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
    overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Rocco_M\/dev\/SheaBook\/css\/_media-queries\.scss}line{font-family:\00003135}}
  .cbp-spmenu-right {
    right: -190px; } }
